.logo-btn img{
  height: 170px;
  width: auto;
}

.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px 0 50px;
}

.nav-links{
    display: flex;
    gap: 100px;
    list-style: none;
    /* align-items: right; */
    
}

.nav-links a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
}

/* Bagian kanan */
.nav-button {
    display: flex;
    align-items: center;
    gap: 25px;
}

/* Style tombol search */
.search-btn {
    padding: 6px 16px;
    border: 2px solid black;
    background: white;
    border-radius: 10px;
}

/* Bahasa EN | ID */
.lang {
    font-size: 14px;
    color: black;
    opacity: 0.7;
}

.login-btn {
    padding: 8px 16px;
    border: 2px solid black;
    background: white;
    border-radius: 10px;
}